{% extends "base.html" %}

{% block styles %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
{% endblock %}

{% block page_content %}
		<!--<div class="container"> -->
			<div class="container">
				Database Cache: {{ dbLayer }}
				<br>
				Random Forest Precog: {{ precog }}
				<br>
				Neural Network Precog: {{ nn_precog }}
				<br>
				Statistics Precog: {{ stat_precog }}
				<br>
				Recommendation Engine: {{ rec_eng }}
			</div>

{% endblock %}
