{% extends "base.html" %}

{% block styles %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
{% endblock %}

{% block page_content %}
		<!--<div class="container"> -->
			<div class="container">
				<h1>Service Health</h1>
				<br>
				Database Cache:
					{% if dbLayer == '1' %}
					     <img src="{{ url_for('static', filename='greenheart.jpg') }}" style="height:50px;display:inline-block;">
					{% else %}
					     <img src="{{ url_for('static', filename='emptyheart.png') }}" style="height:50px;display:inline-block;">
					{% endif %}
				<br>
				Random Forest Precog:
					{% if precog == '1' %}
					     <img src="{{ url_for('static', filename='greenheart.jpg') }}" style="height:50px;display:inline-block;">
					{% else %}
					     <img src="{{ url_for('static', filename='emptyheart.png') }}" style="height:50px;display:inline-block;">
					{% endif %}
				<br>
				Neural Network Precog:
					{% if nn_precog == '1' %}
					     <img src="{{ url_for('static', filename='greenheart.jpg') }}" style="height:50px;display:inline-block;">
					{% else %}
					     <img src="{{ url_for('static', filename='emptyheart.png') }}" style="height:50px;display:inline-block;">
					{% endif %}
				<br>
				Statistics Precog:
					{% if stat_precog == '1' %}
					     <img src="{{ url_for('static', filename='greenheart.jpg') }}" style="height:50px;display:inline-block;">
					{% else %}
					     <img src="{{ url_for('static', filename='emptyheart.png') }}" style="height:50px;display:inline-block;">
					{% endif %}
				<br>
				Recommendation Engine:
					{% if rec_eng == '1' %}
					     <img src="{{ url_for('static', filename='greenheart.jpg') }}" style="height:50px;display:inline-block;">
					{% else %}
					     <img src="{{ url_for('static', filename='emptyheart.png') }}" style="height:50px;display:inline-block;">
					{% endif %}
			</div>

{% endblock %}
