{% extends "base.html" %}

{% block styles %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src='https://api.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.js'></script>
	<link href='https://api.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.css' rel='stylesheet'/>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css' )}}">
{% endblock %}

{% block page_content %}

		<div id='map'></div>
		<div class='map-overlay top'>

			<div class='map-overlay-inner'>
				<h3>Settings</h3>
				<h6>Select a view mode:</h6>
				<select id="mode-select" onchange="toggleMode()"></select>
			</div>

			<div class='map-overlay-inner'>
				<h5>Search</h5>
				<input class="inputBox" type="number" step="0.00001" id="Longitude" placeholder="Longitude" />
				<input class="inputBox" type="number" step="0.00001" id="Latitude" placeholder="Latitude" />
				<button class="button" onclick="getLonLat()">Submit</button>
				<br>
				<input class="inputBox" type="text" id="Address" placeholder="Address" />
				<button class="button" onclick="geocode()">Submit</button>
				<button class="button" onclick="clearMarkers()">Clear Markers</button>
			</div>

			<div class='map-overlay-inner' id="data_view">
				<h5>Data View Settings</h5>
				<h6>Year Selection: <h6  id="year_val_disp"></h6> </h6>
				<input type="range" name="year" id="year_val" value="2018" min="2001" max="2028">
				<h6>Note: Anything after 2018 is a prediction.</h6>
				<h6>Month Selection: <h6 id='month_val_disp'></h6> </h6>
				<input id='month_val' type='range' min='0' max='11' step='1' value='0' />
				<h5>Prediction Settings </h5>
				<h6>PreCog Algorithm </h6>
				<select id="precog-select"></select>
				<h6>Maybe some other display settings </h6>
			</div>

			<div class='map-overlay-inner' id="rec_view">
				<h5>Recommendation Settings </h5>
				<h6>Click on each dot to see information about that particular recommendation.</h6>
			</div>

			<div class='map-overlay-inner' id="risk_view">
				<h5>Risk Factors</h5>
				<h6>Select a risk factor from the drop down to view the heatmap for it.</h6>
				<select id="riskFactors-select"></select>
			</div>

		</div>

		<script src='//d3js.org/d3.v3.min.js' charset='utf-8'></script>
		<script>
			var longitude = -87.6298;
			var latitude = 41.8781;
			var address = '1200 S Lake Shore Dr, Chicago, IL 60605';
			// Map markers array
			var markers = new Array();

			// Layer control variables
			var allLayers = new Array();
			var dataLayers = new Array();
			var riskFactorLayers = new Array();
			var recommendationLayers = new Array();

			var month = 0;
			var year = 2018;
			var months = [
			    'January', 'February', 'March', 'April', 'May', 'June',
			    'July', 'August', 'September', 'October', 'November', 'December'
			];

			var mode = document.getElementById("mode-select");
			// The value for option is the layer name it enables/disables as well as the GUI section
			mode.options[mode.options.length] = new Option("Data View", "data_view");
			mode.options[mode.options.length] = new Option("Recommendations", "rec_view");
			mode.options[mode.options.length] = new Option("Risk Factors", "risk_view");

			// Data view sliders
			// Set the slider disp text values even before user moves the slider
			document.getElementById('year_val_disp').textContent = 2018;
			document.getElementById('month_val_disp').textContent = months[0];

			// Event calls for when we change the sliders
			document.getElementById('month_val').addEventListener('input', function(e) {
				month = parseInt(e.target.value, 10);
				document.getElementById('month_val_disp').textContent = months[month];
				// Every time we change update the data
				filterBy(month, year);
			});
			document.getElementById('year_val').addEventListener('input', function(e) {
				year = parseInt(e.target.value, 10);
				document.getElementById('year_val_disp').textContent = year;
				// Every time we change update the data
				filterBy(month, year);
			});

			// Data view dropdown
			document.getElementById('precog-select').addEventListener('change', function(e) {
				// Select which precog layer we want to display
				toggleModesLayer( document.getElementById('precog-select').value, dataLayers)
			});

			// Risk factor view drop down
			document.getElementById('riskFactors-select').addEventListener('change', function(e) {
				// Select which risk factor we want to display
				toggleModesLayer( document.getElementById('riskFactors-select').value, modeLayerVector)
			});

			// Clear out marker array and remove all markers from map
			function clearMarkers() {
				for (var i = 0; i < markers.length; i++) {
					markers[i].remove();
				}
				markers = new Array(); // Reset array to be empty
				loadRuns();
			}

			function toggleMode() {
				// First turn off all the divs
				for (var i = 0; i < mode.options.length; i++) {
					document.getElementById( mode.options[i].value ).style.display = "none";
				}
				// Then just turn on the one we want
				document.getElementById( mode.value ).style.display = "block";

				if(mode.value === 'data_view') {
					toggleLayers(riskFactorLayers,'none');
					toggleLayers(recommendationLayers,'none');
					toggleLayers(dataLayers,'visible');
				} else if (mode.value === 'rec_view') {
					toggleLayers(riskFactorLayers,'none');
					toggleLayers(dataLayers,'none');
					toggleLayers(recommendationLayers,'visible');
				} else if(mode.value === 'risk_view') {
					toggleLayers(dataLayers,'none');
					toggleLayers(recommendationLayers,'none');
					toggleLayers(riskFactorLayers,'visible');
				}
			}

			function toggleLayers(layerIds, visibility) {
			    for (var i = 0; i < layerIds.length; i++) {
			    	if (visibility == 'visible') {
			    		showLayer(layerIds[i]);
			    	} else {
			    		hideLayer(layerIds[i]);
			    	}
			    }
			}

			function toggleModesLayer(toggleToId, modeLayerVector) {
				// toggleToId format: 'precog_heatmap_#'
				for (var i = 0; i < modeLayerVector.length; i++) {
					if (toggleToId == modeLayerVector[i] ) {
						showLayer(modeLayerVector[i]);
					} else {
						hideLayer(modeLayerVector[i]);
					}
				}
			}

			function hideLayer(layerId) {
	    		var visibility = map.getLayoutProperty(layerId, 'visibility');

		        if (visibility === 'visible') {
		            map.setLayoutProperty(layerId, 'visibility', 'none');
		        }
			}

			function showLayer(layerId) {
	    		var visibility = map.getLayoutProperty(layerId, 'visibility');

		        if (visibility === 'none') {
		            map.setLayoutProperty(layerId, 'visibility', 'visible');
		        }
			}

			// Create map
			var map = new mapboxgl.Map({
				container: 'map',
				style: 'http://localhost:85/styles/dark-matter-gl-style/style.json',
				center: [longitude,latitude],
				zoom: 10,
				minZoom: 9,
				maxZoom: 20,
				bearing: -17.6,
				pitch:45
			});

			// Navigation controls at top-left corner
			var nav = new mapboxgl.NavigationControl();
			map.addControl(nav, 'top-right');

			function getLonLat(){
				longitude = parseFloat( document.getElementById("Longitude").value );
				latitude  = parseFloat( document.getElementById("Latitude").value );
				addGeoMarker();
			}

			// Do geocoding of address to lat/long
			function geocode() {
				address = document.getElementById("Address").value;
		      $.ajax({
		        url: 'http://geocoding.geo.census.gov/geocoder/locations/onelineaddress?address='+address+'&benchmark=4&format=jsonp',
		        dataType: 'jsonp',
		        success: function(response) {
		          // using the response, we can grab the latitude and longitude
		          longitude = parseFloat( response.result.addressMatches[0].coordinates.x );
		          latitude = parseFloat( response.result.addressMatches[0].coordinates.y );
		          addGeoMarker();
		        },
		        error: function(error) {
		          console.log(error);
		        }
		      });
		    } // geocode()

		    function addGeoMarker() {
		    	var marker = new mapboxgl.Marker()
			  		.setLngLat([longitude,latitude])
			  		.addTo(map);
			  	markers.push(marker);
		    }

			function filterBy(month, year) {
				var dt = month + "-" + year
			    var filters = ['==', 'date', dt];
			    map.setFilter('precog_heatmap_2', filters);
			}

		    // Function to call to add layers
		    function display_map() {
				map.on('load', function() {
				    // Programmatically load all pre cog files
				    var select = document.getElementById("precog-select");
				    for (var index = 0; index < select.length; index++) {
				    	// console.log(index);
				    	var url = 'http://localhost:81/prediction/' + select.options[index].value

				        map.addSource('precogData_' + select.options[index].value , {
						    type: 'geojson',
						    data: ('http://localhost:81/prediction/' + select.options[index].value)
						});

				        allLayers.push('precog_heatmap_' + select.options[index].value);
				        dataLayers.push('precog_heatmap_' + select.options[index].value);

						map.addLayer({
						    id: 'precog_heatmap_' + select.options[index].value,
						    source: 'precogData_' + select.options[index].value,
						    type: 'heatmap',
						    paint: {
						        "heatmap-radius": [
					                "interpolate",
					                ["linear"],
					                ["zoom"],
					                9, 15,
				                    20, 800
					            ],
						        "heatmap-color": [
					                "interpolate",
					                ["linear"],
					                ["heatmap-density"],
					                0, "rgba(33,102,172,0)",
					                .33, "rgb(103,169,207)",
					                .66, "rgb(209,229,240)",
					                .75, "rgb(253,219,199)",
					                1.33, "rgb(239,138,98)",
					                1.66, "rgb(178,24,43)"
					            ],
								"heatmap-weight": [
					                "interpolate",
					                ["linear"],
					                ["get", "certainty"],
					                0, 0,
					                1200, 1
					            ],
					            "heatmap-opacity": [
					                "interpolate",
					                ["linear"],
					                ["zoom"],
					                9, .8,
					                20, .4
					            ]
						    }
						});
					}

					
					// Recommendations
					allLayers.push('recommendations')
					recommendationLayers.push('recommendations');
				  	d3.json('http://localhost:81/recommendations/', function(err, data) {
						if (err) throw err;

				        map.addSource('recommendation_data', {
				            'type': 'geojson',
				            'data': data
				        });

				        map.addLayer({
				            'id': 'recommendations',
				            'type': 'circle',
				            'source': 'recommendation_data',
				            'paint': {
				                'circle-color': '#D49A66'
				            }
				        });
					}); // d3

				  	map.on('click', 'recommendations', function (e) {
				        var coordinates = e.features[0].geometry.coordinates.slice();
				        var rec = e.features[0].properties.rec;

				        // Ensure that if the map is zoomed out such that multiple
				        // copies of the feature are visible, the popup appears
				        // over the copy being pointed to.
				        while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
				            coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
				        }

				        new mapboxgl.Popup()
				            .setLngLat(coordinates)
				            .setHTML(rec)
				            .addTo(map);
				    });

				    // Change the cursor to a pointer when the mouse is over the places layer.
				    map.on('mouseenter', 'recommendations', function () {
				        map.getCanvas().style.cursor = 'pointer';
				    });

				    // Change it back to a pointer when it leaves.
				    map.on('mouseleave', 'recommendations', function () {
				        map.getCanvas().style.cursor = '';
				    });

/*
					// Risk factors
					var select = document.getElementById("riskFactors-select");
				    for (var index = 0; index < select.length; index++) {
				    	// console.log(index);
				    	var url = 'http://localhost:81/prediction/' + select.options[index].value

				        map.addSource('riskFactorsData_' + select.options[index].value , {
						    type: 'geojson',
						    // data: data
						    data: ('http://localhost:81/riskFactors/' + select.options[index].value)
						});

						allLayers.push('riskFactors_heatmap_' + select.options[index].value)
						riskFactorLayers.push('riskFactors_heatmap_' + select.options[index].value);

						map.addLayer({
						    id: 'riskFactors_heatmap_' + select.options[index].value,
						    source: 'riskFactorsData_' + select.options[index].value,
						    type: 'heatmap',
						    paint: {
						        "heatmap-radius": [
					                "interpolate",
					                ["linear"],
					                ["zoom"],
					                9, 15,
				                    20, 800
					            ],
						        "heatmap-color": [
					                "interpolate",
					                ["linear"],
					                ["heatmap-density"],
					                0, "rgba(33,102,172,0)",
					                .33, "rgb(103,169,207)",
					                .66, "rgb(209,229,240)",
					                .75, "rgb(253,219,199)",
					                1.33, "rgb(239,138,98)",
					                1.66, "rgb(178,24,43)"
					            ],
								"heatmap-weight": [
					                "interpolate",
					                ["linear"],
					                ["get", "certainty"],
					                0, 0,
					                1200, 1
					            ],
					            "heatmap-opacity": [
					                "interpolate",
					                ["linear"],
					                ["zoom"],
					                9, .8,
					                20, .4
					            ]
						    }
						});
					} // Risk factors
*/
				}); // on load
			} // display_map()

			// Add available precog runs to data view
			d3.json('http://localhost:81/precogruns/', function(err, data) {
				if (err) throw err;
				// Loop through the data and
				var select = document.getElementById("precog-select");
				for (var i = 0; i < data.children.length; i++) {
					select.options[select.options.length] = new Option(data.children[i].type, data.children[i].id);
					// console.log(data.children[i].type);
				}
			});
/*
			// Add available risk factors to list
			d3.json('http://localhost:81/riskFactors/', function(err, data) {
				if (err) throw err;
				// Loop through the data and
				var select = document.getElementById("riskFactors-select");
				for (var i = 0; i < data.children.length; i++) {
					select.options[select.options.length] = new Option(data.children[i].type, data.children[i].id);
					console.log(data.children[i].type);
				}
			});
*/
			display_map();
			toggleMode();

		</script>

{% endblock %}
