{% extends "base.html" %}

{% block styles %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src='https://api.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.js'></script>
	<link href='https://api.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.css' rel='stylesheet'/>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css' )}}">
{% endblock %}

{% block page_content %}

		<div id='map'></div>

		<div class='map-overlay top'>
		    <div class='map-overlay-inner'>
				<h4>Search</h4>
				<input class="inputBox" type="number" step="0.00001" id="Longitude" placeholder="Longitude" />
				<input class="inputBox" type="number" step="0.00001" id="Latitude" placeholder="Latitude" />
				<button class="button" onclick="getLonLat()"> Submit</button>
				<br>
				<input class="inputBox" type="text" id="Address" placeholder="Enter Address" />
				<button class="button" onclick="geocode()"> Submit</button>
		    </div>
		    <div class='map-overlay-inner'>
		        <h4>Year Selection: </h4> <output  id="year_val_disp"></output>
		        <h4>Note: Anything after 2018 is a prediction.</h4>
		        <input type="range" name="year" id="year_val" value="2018" min="2001" max="2028" oninput="year_val_disp.value = year_val.value">

		        <h4>Month Selection: </h4> <label id='month'></label>
		        <input id='slider' type='range' min='0' max='11' step='1' value='0' />
		    </div>
		   	<div class='map-overlay-inner'>
		    </div>
		</div>

		<script>
			// Set some default variable values
			var longitude = -87.6298;
			var latitude = 41.8781;
			var address = '1200 S Lake Shore Dr, Chicago, IL 60605';
			var markers = new Array();

			var months = [
			    'January',
			    'February',
			    'March',
			    'April',
			    'May',
			    'June',
			    'July',
			    'August',
			    'September',
			    'October',
			    'November',
			    'December'
			];

			document.getElementById('slider').addEventListener('input', function(e) {
		        var month = parseInt(e.target.value, 10);
		        document.getElementById('month').textContent = months[month];
	        });

			var map = new mapboxgl.Map({
				container: 'map',
				style: 'http://localhost:85/styles/dark-matter-gl-style/style.json',
				center: [longitude,latitude],
				zoom: 15,
				bearing: -17.6,
				pitch:45
			});

		  	// Navigation marker at top-left corner
		  	var nav = new mapboxgl.NavigationControl();
		  	map.addControl(nav, 'top-right');

			function getLonLat(){
				longitude = parseFloat( document.getElementById("Longitude").value );
				latitude  = parseFloat( document.getElementById("Latitude").value );
				display_map();
			}

			// Do geocoding of address to lat/long
		    function geocode() {
		    	address = document.getElementById("Address").value;
		      $.ajax({
		        url: 'http://geocoding.geo.census.gov/geocoder/locations/onelineaddress?address='+address+'&benchmark=4&format=jsonp',
		        dataType: 'jsonp',
		        success: function(response) {
		          // using the response, we can grab the latitude and longitude
		          longitude = parseFloat( response.result.addressMatches[0].coordinates.x );
		          latitude = parseFloat( response.result.addressMatches[0].coordinates.y );
		          display_map();
		        },
		        error: function(error) {
		          console.log(error);
		        }
		      });
		    }

		    function display_map() {
				// display a blue marker
				var marker = new mapboxgl.Marker()
			  		.setLngLat([longitude,latitude])
			  		.addTo(map);

			  	markers.push(marker);
				
				map.on('load', function() {
				    // Insert the layer beneath any symbol layer.
				    var layers = map.getStyle().layers;
				    var labelLayerId;
				    for (var i = 0; i < layers.length; i++) {
				        if (layers[i].type === 'symbol' && layers[i].layout['text-field']) {
				            labelLayerId = layers[i].id;
				            break;
				        }
				    }
					// Create new layers here
					
				    map.addLayer({
				        'id': '3d-buildings',
				        'source': 'composite',
				        'source-layer': 'building',
				        'filter': ['==', 'extrude', 'true'],
				        'type': 'fill-extrusion',
				        'minzoom': 15,
				        'paint': {
				            'fill-extrusion-color': '#aaa',

				            // use an 'interpolate' expression to add a smooth transition effect to the
				            // buildings as the user zooms in
				            'fill-extrusion-height': [
				                "interpolate", ["linear"], ["zoom"],
				                15, 0,
				                15.05, ["get", "height"]
				            ],
				            'fill-extrusion-base': [
				                "interpolate", ["linear"], ["zoom"],
				                15, 0,
				                15.05, ["get", "min_height"]
				            ],
				            'fill-extrusion-opacity': .6
				        }
				    }, labelLayerId);

				});
			}

		</script>

{% endblock %}
